*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
:root{
  --bs-primary:#816D4F;

}

body {
  --bege: #E6E0D6;
  --marrom-escuro: #816D4F;
  --marrom-claro: #B29463;
    overflow-x: hidden;
}
html{
  width: 100vw;
  height: 100vh;
  
}
input[type=checkbox] {
  border: 2px solid var(--marrom-claro);
  box-shadow: none;
}

input[type=checkbox]:checked{
  background-color: var(--marrom-claro);
  border-color: var(--marrom-claro);
  box-shadow: none;
  outline: none;
}

.banners{
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.banner-1{
    background-image: url(assets/banner-1.png);
    background-size: cover;
    background-position: center;
}
.banner-2{
  background-image: url(assets/banner-2.png);
    background-size: cover;
    background-position: center;
}
.banner-3{
  background-image: url(assets/banner-3.png);
    background-size: cover;
    background-position: center;
}


.banners-titulo{
  --bs-bg-opacity:.5;
}

.botao-padrao{
  background: var(--marrom-claro);
  border: none;
}
.botao-padrao:hover{
  background: var(--marrom-escuro);
  color: var(--bege);
}
.img-card{
  transition: transform ease .5s;
}
.img-card:hover{
    transform: scale(1.2);
}

input[type="range"]::-webkit-slider-thumb{
  background: var(--marrom-claro); 
  transition: transform ease-in .2s;
}
input[type="range"]::-webkit-slider-thumb:hover{
  transform: scale(1.2);
}


footer{
  background: var(--marrom-claro);
}

[data-bs-theme="dark"]{
  color: #ffffff;
  
  .nav-link, .card-body, .offcanvas, .accordion, .btn{
    --bs-nav-link-color:#ffffff;
    --bs-card-color:#ffffff;
    --bs-offcanvas-color:#ffffff;
    --bs-body-color:white;
  }

}